* {
    font-family: 'Changa', sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color);
    overflow-x:hidden;
}


:root {
    --primary-color: #edf2f3;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #25262f;
    --secondary-color: #c1c1c1;
}

header {
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 999;
}

.logo img {
    padding-right: 10px;
    height: 150px;
    width: 300px;
}

.logo p {
    display: flex;
    position: absolute;
    top: 22px;
    color: rgba(22, 14, 114, 0.723);
    font-size: 20px;
    font-weight: 700;
    padding-right: 238px;
}

.menu {
    position: absolute;
    left: 70px;
    top: -10px;
    margin: 20px auto;
    background-color: var(--secondary-color);
    width: 50px;
    border-radius: 10%;
    padding: 0 20px;
    min-height: 40px;
}

.menu ul {
    font-family: 'Cairo', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu span {
    color: var(--primary-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}

.menu .div-of-sub-menu {
    position: relative;
}

.menu .div-of-sub-menu .sub-menu {
    position: absolute;
    top: 11px;
    left: -50px;
    width: 100px;
    z-index: 1000;
    background-color: var(--secondary-color);
    padding: 10px;
    padding-top: -2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    --webkit-box-shadow: 0 1px 1px var(--secondary-color);
    --moz-box-shadow: 0 1px 1px var(--secondary-color);
    box-shadow: 0 1px 1px var(--secondary-color);
    display: none;
}

.menu .sub-menu li {
    padding-bottom: 10px;
    padding-right: 22px;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease .5s;
}

.menu .sub-menu li:hover {
    color: #aaadb5;
}

.menu .sub-menu:before {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgb(248, 8, 8);
    height: 0;
    width: 0;
    position: absolute;
    left: 100px;
    top: -5px;
}

.menu:hover .sub-menu{
    display: block;
}

.toggle {
    width: 80px;
    height: 30px;
    position: absolute;
    border-radius: 10%;
    left: 200px;
    top: 0;
}

.moon-icon {
    background-color: #b2b8c6;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    left: -3px;
    top: 10px;
    cursor: pointer;
}

.navigation {
    position: relative;
}

.navigation div{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--secondary-color);
    height: 70px;
}

.navigation a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color);
    margin-right: 30px;
    margin-top: 10px;
    transition: ease-in-out .7s;
}

.sports{
    background-color: red;
    border-radius: 10%;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.sports:hover{
    color: var(--secondary-color);
    transform: scale(1.2);
}

.home:hover,
.news:hover,
.art:hover,
.media:hover,
.economy:hover,
.articles:hover,
.accidents:hover{
    color: red;
    transform: scale(1.2);
}

.search-bar{
    display: flex;
    position: relative;
    margin-right: 170px;
}

.search-bar form{
    display: flex;
    width: 320px;
    height: 40px;
    margin-top: 10px;
    font-size: 1.5em;
}

.search-bar input{
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 2px 0 0 2px;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid var(--primary-color);
    border-right: none;
}

.search-bar input::placeholder{
    color: var(--secondary-color);
    padding-right: 15px;
}

.search-bar button {
    display: inline-block;
    width: 50px;
    border: 1px solid #c6c6c6;
    border-radius: 0 2px 2px 0;
    font-size: 1.7em;
    padding-top: 4px;
    background-color: #fff;
    cursor: pointer;
}

button svg {
    display: inline-block;
    padding-left: 1px;
    padding-bottom: 25px;
    width: 20px;
}

.search-bar button:hover {
    background-color: #f0f0f0;
    border-color: #c6c6c6;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.container{
    display: flex;
    position: relative;
    width: 760px;
    height: 450px;
    margin-right: 20px;
    margin-top: 100px;
    background-color: transparent;
}

.swiper {
    position: relative;
    width: 100%;
}

.swiper-slide img{
    height: 480px;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
    display: flex;
    width: 100%;
}

.swiper .swiper-pagination{
    position: relative;
    margin-top: -50px;
    margin-right: 250px;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-slide p {
    display: flex;
    box-sizing: border-box;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    color: #fff;
    height: 100px;
    padding: 20px 50px -5px;
    background-color: #172145ae;
}

.pspan {
    padding-right: 60px;
    max-width: 450px;
    max-height: 100px;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.pspan::before {
    content: ' ';
    display: flex;
    position: fixed;
    background: linear-gradient(to bottom, #4b5162, #aaadb5);
    height: 70px;
    bottom: 20px;
    width: 20px;
    right: 20px;
}


.news-box{
    position: relative;
    width: 500px;
    margin-right: 800px;
    margin-top: -445px;
}

.news-box .links{
    display: flex;
}

.news-box .links a img{
    width: 104px;
    height: 104px;
    border-radius: 15%;
    display: inline;
}

.news-box .links a {
    text-decoration: none;
}

.news-box .links a p {
    color: var(--secondary-color);
    display: inline-block;
    font-size: 20px;
    position: absolute;
    margin-right: 120px;
    margin-top: -120px;
    max-width: 300px;
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* ===================================================*/

.allSections{
    position: relative;
    top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.allSections a img {
    border-radius: 3%;
    width: 300px;
    height: 200px;
}

.allSections a {
    text-decoration: none;
    color: var(--secondary-color);
}

.allSections a p {
    margin-top: -6px;
    font-size: 1.3em;
    margin-right: 5px;
    line-height: 30px;
    max-width: 300px;
}

.allSections a img, .allSections a p {
    margin-right: 15px;
}

.news-section{
    padding-left: 350px;
    padding-bottom: 100px;
}

.h1 {
    font-family: 'Cairo', sans-serif;
    color: var(--secondary-color);
    font-size: 1.9em;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    right: 5%;
    top: 40px;
}

.h1::after {
    content: '';
    height: -100px;
    margin-right: 15px;
    border: red solid 3px;
}


footer{
    position: relative;
    background-color: #000016;
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
}

footer .footer-logo img {
    margin-right: 50px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
}

footer .my-logo p {
    position: relative;
    font-size: 15px;
    z-index: 999;
    left: 0px;
    color: #4b5162;
}

footer .my-logo img {
    width: 200px;
    position: relative;
    left: 100px;
    height: 150px;
}

footer .follow-us p{
    position: relative;
    top: 20px;
    left: 100px;
    font-size: 17px;
}

footer .follow-us .social-icons {
    position: relative;
    left: 162px;
    top: 48px;
    padding-top: 20px;
    padding-bottom: 0;
    padding-right: 10px;
    cursor: pointer;
    background-color: #868484;
    height: 20px;
    width: 30px;
}

footer .follow-us .fa-facebook-f {
    padding-left: -10px;
    padding-right: 10px;
    margin-left: 1px;
}
footer .follow-us .fa-instagram{
    padding-left: 5px;
    padding-right: 6px;
    margin-left: 1px;
}

footer .follow-us .fa-twitter {
    padding-left: 8px;
    padding-right: 5px;
    margin-left: 1px;
}

footer .follow-us .fa-youtube {
    padding-left: 10px;
    padding-right: 5px;
}

footer .follow-us .fa-facebook-f:hover {
    color: #fdfbfb;
    background-color: rgb(0, 26, 255);
}

footer .follow-us .fa-instagram:hover{
    background: linear-gradient(320deg,#c71eb0ae,#c5521d);
}

footer .follow-us .fa-twitter:hover{
    background-color: rgb(36, 128, 255);
}

footer .follow-us .fa-youtube:hover {
    color: red;
    background-color: #fff;
}

.rights {
    background-color: #000016;
    color: #868484;
    position: absolute;
    bottom: -50px;
    width: 100%;
    right: -0.1px;
    border-top: 1px solid #4b5162;
    padding-bottom: 15px;
    padding-right: 400px;
    height: 50px;
}

.rights span {
    color: #7b2f2f;
}

.rights span:hover {
    color: #b626b9;
    cursor: pointer;
}